/*@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: #999999;
      word-wrap: break-word;
    } */

ul {
    list-style: none;
}

.chatbox-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 0;
}

.chatbox {
    width: 600px;
    height: 600px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: 0.1s ease-out;
    font-family: "Calibri", sans-serif;
}

.chatbox-top {
    position: relative;
    display: flex;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    /*background: rgba(0, 0, 0, .05);*/
    background-color: #4e73df;
}

.chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
}

.chatbox-icons .fa {
    background: linear-gradient(180deg, #4975c3, #4975c3);
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: white;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
}

.chatbox-icons .fa:hover {
    border-radius: 5px 0 5px 0;
    background: rgb(72, 135, 187);
}

.chatbox-icons a,
.chatbox-icons a:link,
.chatbox-icons a:visited {
    color: white;
}

.chat-partner-name,
.chat-group-name {
    flex: 1;
    padding: 0 0 0 95px;
    font-size: 15px;
    font-weight: bold;
    color: #30649c;
    /*text-shadow: 1px 1px 0 white;*/
    transition: 0.1s ease-out;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #cacaca;
    margin: 0 3px 0 0;
}

.online {
    background: #b7fb00;
}

.away {
    background: #ffae00;
}

.donot-disturb {
    background: #ff4343;
}

.chatbox-avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: 0.1s ease-out;
    bottom: 0;
    left: 6px;
}

.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-messages {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
}

.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}

.message-sender a,
.message-sender a:link,
.message-sender a:visited,
.chat-partner-name a,
.chat-partner-name a:link,
.chat-partner-name a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    /*background: rgba(100, 170, 0, .1);
        border: 2px solid rgba(100, 170, 0, .1);*/
    background-color: #4e73df;
    color: white;
    font-size: 20px;
}

.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    /* border-top: 10px solid rgba(100, 170, 0, .2); */
    border-right: none;
    bottom: -22px;
    right: 10px;
}

.message-partner {
    background: rgba(0, 114, 135, 0.1);
    border: 2px solid rgba(0, 114, 135, 0.1);
    align-self: flex-start;
}

.message-partner:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 114, 135, 0.2);
    border-left: none;
}

.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.chat-input:focus,
.message-send:focus {
    outline: none;
}

.message-send::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #4975c3, #4975c3);
    background: -webkit-linear-gradient(180deg, #4975c3, #4975c3);
    background: -o-linear-gradient(180deg, #4975c3, #4975c3);
    background: -ms-linear-gradient(180deg, #4975c3, #4975c3);
    background: linear-gradient(180deg, #4975c3, #4975c3);
    color: white;
    font-size: 20px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.attachment-panel {
    padding: 3px 10px;
    text-align: right;
}

.attachment-panel a,
.attachment-panel a:link,
.attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.chatbox-min {
    margin-bottom: -555px;
    /*   height: 46px; */
}

.chatbox-min .chatbox-avatar {
    width: 60px;
    height: 60px;
}

.chatbox-min .chat-partner-name,
.chatbox-min .chat-group-name {
    padding: 0 0 0 75px;
}

.settings-popup {
    background: white;
    border-radius: 20px/10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 13px;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 33px;
    transition: 0.15s;
    transform: scale(1, 0);
    transform-origin: 50% 0;
    width: 120px;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.settings-popup:after,
.settings-popup:before {
    border: 7px solid transparent;
    border-bottom: 7px solid white;
    border-top: none;
    content: "";
    position: absolute;
    left: 45px;
    top: -10px;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.settings-popup:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.25);
    top: -11px;
}

.settings-popup:after {
    border-top-color: transparent;
}

#chkSettings {
    display: none;
}

#chkSettings:checked + .settings-popup {
    opacity: 1;
    transform: scale(1, 1);
}

.settings-popup ul li a,
.settings-popup ul li a:link,
.settings-popup ul li a:visited {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.settings-popup ul li a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.bot-box {
    padding: 5px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgb(99 129 174 / 10%);
    border: 2px solid rgba(176 176 176 / 10%);
    color: #6c6c6c;
    font-size: 20px;
    align-self: flex-start;
    cursor: pointer;
}
/* css image showing*/

.chat-messages img {
    max-width: 100% !important; /* Ensure the image does not exceed the container width */
    max-height: 100px;
    height: 100px !important; /* Maintain the aspect ratio */
    object-fit: cover;
    border-radius: 10px !important; /* Rounded corners */
}

.newtooltip {
    position: relative;
    /* font-size: 12px;
  color: #666;
  margin-top: 5px;
  cursor: pointer; */
}

.newtooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 105%; /* Position tooltip above the text */
    left: 94%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.newtooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow points down */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.newtooltip:hover .newtooltip-text {
    visibility: visible;
    opacity: 1;
}

.cstimeposition {
    margin-right: 90%;
}

.chat-bubble {
  background-color:rgb(99 129 174 / 10%);
  padding:16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display:inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6CAD96 ; //rgba(20,105,69,.7);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color:#6CAD96; // rgba(20,105,69,.7);
  }
  28% {
    transform: translateY(-7px);
    background-color:#9ECAB9; //rgba(20,105,69,.4);
  }
  44% {
    transform: translateY(0px);
    background-color: #B5D9CB; //rgba(20,105,69,.2);
  }
}
